<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" type="text/css" href="css/styleTemplate.css" />
        <link rel="stylesheet" type="text/css" href="css/excite-bike/jquery-ui-1.10.3.custom.css"/>
        <link rel="stylesheet" type="text/css" href="css/jquerycssmenu2.css" />
        <link rel="stylesheet" type="text/css" href="css/screen.css" />
        <link rel="shortcut icon" type="image/icon" href="imagenes/favicon.ico" /> 

        <link rel="stylesheet" href="css/platicasEstiloFormularioformly.css" type="text/css" />
        <LINK rel="stylesheet" href="css/platicajquery.clockpick.1.2.7.css" type="text/css">
        <LINK rel="stylesheet" href="css/cssValidaciones.css" type="text/css">
        

        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="js/jquerycssmenu2.js"></script>
        <script type="text/javascript" src="js/baner.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.js" ></script>
        <script type="text/javascript" src="js/platicasEstiloFormularioformly.js"></script>
        <script type="text/javascript" src="js/jqueryUI/jquery-ui.custom.js"></script>
        <script type="text/javascript" src="js/funcionesGenerales.js"></script>
        
        <script>
            $(document).ready(function() {
                $(".MyForm").formly();
            })
        </script>


      
    </head>
    <body class ="background">
        <div style="text-align: center"><h1>La p&aacute;gina solicitada no existe.</h1></div>
        <div style="width: 80%; margin: auto; background: #000000">
            <img src="imagenes/404.jpg" style="width: 100%"/>
        </div>
    </body>
</html>
