/* 
    Document   : c
    Created on : May 24, 2013, 12:48:34 PM
    Author     : Héctor
    Description:
        Purpose of the stylesheet follows.
*/

#gato
{
    background-color: yellow;
}
#gato2 {
    border-color: blue
}

