/* 
    Document   : cssTablaDetallesOrganizaciones
    Created on : 6/06/2013, 01:29:19 PM
    Author     : ekt
    Description:
        Purpose of the stylesheet follows.
*/

#muestradatos
{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        padding:20px 20px 20px 20px;
}

#muestradatos .table
{
	border-collapse: collapse;
	background:#F2F2F2;
	border: 1px solid #03476F;
}

#muestradatos h2
{
	color:#E25509;
	text-shadow:#BABABA 0 3px 3px;
}

#muestradatos p
{
	font-family:Arial;
	font-size:22px;
	color:#003E8B;
	text-shadow:#BABABA 0 3px 3px;
	padding:5px 2px 5px 2px;
}

#muestradatos tr
{
	width:100%;
	text-shadow:#BABABA 0 2px 2px;
}

#muestradatos td
{
	font-size:16px;
	padding:5px 0 5px 0;
	font-family:Arial,sans-serif;
	border: 1px dotted #03476F;
}
