/* 
    Document   : cssValidaciones
    Created on : 24/06/2013, 11:02:08 AM
    Author     : mary
    Description:
        Purpose of the stylesheet follows.
*/

.error {
/*	color: #ff0000;*/
        border-radius:4px;
	padding:5px 10px;
	font-weight:bold;
	font-size:12px;
	margin:5px 0;
        background:#f5972f;
	color:#fff;
	border:1px solid #c76d09;
	box-shadow:inset 0px 1px 0px #f9c081;
	text-shadow:0px -1px 0px #c76d09;
}

.success {
/*	color: #ff0000;*/
        border-radius:4px;
	padding:5px 10px;
	font-weight:bold;
	font-size:12px;
	margin:5px 0;
        background:#008200;
        color:#fff;
	border:1px solid #006600;
	box-shadow:inset 0px 1px 0px #006600;
	text-shadow:0px -1px 0px #008200;
}
 
.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

