/* 
    Document   : customize
    Created on : 31/01/2014, 04:20:30 PM
    Author     : rodrigo
    Description:
        Purpose of the stylesheet follows.
*/

.sizeIcon
{
    font-size: 20px;
}

.sizeIconValid
{
    font-size: 50px;
}
