/* 
    Document   : formatoUnico
    Created on : 4/06/2013, 11:40:50 AM
    Author     : windsaber
    Description:
        Purpose of the stylesheet follows.
*/

input[type="text"]
{
    width:400px;
}
td
{
    padding-bottom:5px;
}
.tablaInput300 input[type="text"]
{
    width:300px;
}
#observaciones
{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size:14px;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../imagenes/warning.png');
    visibility: hidden;
}
.alert {
margin-left: 10px;
width: 130px;
padding: 10px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
font: 18px "Arial","HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
background-color: #fcf8e3;
border: 1px solid #fbeee0;
        border-radius: 6px;
   -moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
.success {color: white; background-color: #006600; border-color: #d6e9c6;}
.error {color: white; background-color: #FF3333; border-color: #eed3d7;}
.info {color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1;}
.warning {color: white; background-color: #FFEB00; border-color: yellow;}
.alineadoIzq { float: left}
.textoCentrado{text-align: center}
.leyenda{font: 14px "Arial","HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;}