
/* 
    Created on : 21/07/2014, 03:33:58 PM
    Author     : giovanni
*/

// HTML TAGS



/* CLASES */

.reset {
    color: red;
}

.inst-centered {
    text-align: center;
}

.inst-left {
    text-align: left;
}

.formprereg-cont {
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    margin: auto;
    width: 90%;
}

.formprereg-cont-header {
    background: #BCE8F1;
    color: black;
    padding: 5px;
    padding-left: 20px;
}

.formprereg-fieldset {
    padding: 2%;
}

.formprereg-radiob {
    font-size: 1.1em;
    font-weight: normal;
    padding: 5px;
}

.alert {
    display: block;
}