/* 
    Document   : reporteBimestral
    Created on : 7/06/2013, 11:23:00 AM
    Author     : roy
    Description:
        Purpose of the stylesheet follows.
*/

.imagenes { 
    height: 20%;
    width: 20%;
    padding: 10%;
}

